:root{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*Stili header*/
header{

    /*Questo é solo per lasciare lo stesso identico colore nella fascia alta, senza doverlo andare a cercare*/
    background-image: url(../img/jumbo.png);
}

#testa{
    display: flex;
    width: 60%;  
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}

img{
    margin-top: 5px;
}

a{
    color: white;
    text-decoration: none;
    margin: 0 3%;
}

.buttons{
    background-color: white;
    padding: 10px 20px;
    border: 0px;
    border-radius: 20px;
    
    
}

.colonneHeader{
    margin: 10px 0px;
    padding: 5px;
    width: 25%;

}

.colonneHeader:nth-child(2){
    text-align: center;
    flex-grow: 1;
}

.colonneHeader:nth-child(3){
    text-align: right;
}



/*Primo Contenitore*/
#presentazione{
    
    display: flex;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 5%;
}

#primoContenitore{
    text-align: center;
    width: 40%;
    margin-bottom: 5%;
}

h1{
    font-size: 40px;
    margin-bottom: 30px;
}

p{
    margin: 20px auto;
}

.bottoneApri{
    background-color: black;
    color: white;
    margin-left: 30px;
    
}




/*Stili sezione info*/

.row{
    display: flex;
}

.colRosa{   
    width: 40%;
    color: black;
}

.colCeleste{
    width: 60%;
}

.immaginiCorpo{
    width: 85%;
    margin: 0 auto;
}

.contenitoreInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 60%;
}

.contenitoreUltimo{
    color: black;
    text-align: center;
    width: 60%;       
    margin: 20px auto ;
}



.row:nth-child(even){
    background-color: lightgray;
}

.bottoneLilla{
    margin-top: 0px;
    color: white;
    background-color: rgb(159, 157, 242);
}

#stelle{
    margin-bottom: -20px;
}

h2{
    font-size: 30px;
    margin-bottom: 30px;
}

/*Stili per footer*/

/*Prima parte footer*/
footer{
    
    background-color: black;
    padding: 10px 0;
}

#links{
    min-height: 200px;
    width: 60%;
    justify-content: center;
    margin: 0px auto;

}

.colLinks{
    min-height: 300px;
    width: 80%;
    margin-bottom: 15px;
    line-height: 30px;
    
}

h4:first-child{
    color: rgb(101, 99, 240);
    margin-left: 12px;
}

.colLinks:nth-child(1){
    color: rgb(101, 99, 240);
    width: 120%;
}

ul{
    list-style-type: none;
}

/*Seconda parte footer*/
#selector{
    color: white;
}

#selector::after{
    content: '\25BC'; 
}

i{
    margin: 5px 5px;
    color: white;
}

#logoFooter{
    width: 5%;
    
}

#piede{
    justify-content: space-between;
    margin: 10px auto;
    width: 60%;
    border-top: 1px solid white;
    background-color: black;
}

.colFine{
    margin-top: 20px;
}